# Strutture Dati di base

## Tuple
 
Gli oggetti tuple sono oggetti immutabili.

In [85]:
t = (1, 2.5, 'data')
t

(1, 2.5, 'data')

In [2]:
type(t)

tuple

In [3]:
t = 1, 2.5, 'data'
t

(1, 2.5, 'data')

In [4]:
type(t)

tuple

In [5]:
t[2]

'data'

In [6]:
type(t[2])

str

### Due metodi disponibili per le tuple sono count() e index()

In [86]:
t.count('data') # conta il numero di occorrenze dell'oggetto 'data'

1

In [87]:
t1 = (1, 2.5, 'data', 'data')
t1

(1, 2.5, 'data', 'data')

In [90]:
t1.count('data')

2

In [10]:
t.index(1) # restituisce l'indice della prima occorrenza dell'oggetto 1

0

In [11]:
t.index('data') # restituisce l'indice della prima occorrenza dell'oggetto 'data'

2

## Liste
Le liste sono oggetti modificabili.

In [12]:
l = [1, 2.5, 'data']
l

[1, 2.5, 'data']

In [13]:
l[2]

'data'

In [14]:
t1 = 1, 2, 3
t1

(1, 2, 3)

In [15]:
type(t1)

tuple

In [16]:
l1 = list(t1)
l1

[1, 2, 3]

In [17]:
type(l1)

list

In [18]:
l.append([4, 3])   # append di una lista alla fine della lista l
l

[1, 2.5, 'data', [4, 3]]

In [19]:
l.extend([1.0, 1.5, 2.0])   # append di elementi di una lista alla fine della lista l
l

[1, 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [20]:
l.insert(1, 'data1')  # inserimento di un oggetto prima della posizione specificata
l

[1, 'data1', 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [21]:
l.remove('data')  # rimuove la prima occorrenza di un oggetto
l

[1, 'data1', 2.5, [4, 3], 1.0, 1.5, 2.0]

In [22]:
p = l.pop(3)

In [23]:
p

[4, 3]

In [24]:
l

[1, 'data1', 2.5, 1.0, 1.5, 2.0]

### Slicing

In [25]:
l[2:5]

[2.5, 1.0, 1.5]

### Strutture di controllo
Pur essendo un argomento a sé stante, le strutture di controllo come i cicli possono essere introdotti convenientemente in Python basandoci sulle liste

In [26]:
for element in l[2:5] :
    print(element ** 2)

6.25
1.0
2.25

In [91]:
r = range(0, 8, 1)

In [92]:
r

range(0, 8)

In [93]:
type(r)

range

In [94]:
list(range(0,8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [30]:
l

[1, 'data1', 2.5, 1.0, 1.5, 2.0]

In [31]:
for i in range(2, 5):
    print(l[i] ** 2)

6.25
1.0
2.25

In [32]:
for i in range(1, 10):
    if i % 2 == 0:
        print("%d è pari" % i)
    elif i % 3 == 0:
        print("%d è multiplo di 3" % i)
    else:
        print("%d è dispari" % i)

1 è dispari
2 è pari
3 è multiplo di 3
4 è pari
5 è dispari
6 è pari
7 è dispari
8 è pari
9 è multiplo di 3

In [33]:
total = 0
while total < 100:
    total += 1
print(total)

100

### "list comprehensions"

In [34]:
m = [i ** 2 for i in range(5)]  # genera un oggetto lista
m

[0, 1, 4, 9, 16]

### "zip"
Consente di iterare su due o più sequenze nello stesso tempo.
Crea un "iterated object" in cui ogni item è una tupla di items corrispondenti presi dalle sequenze.

In [35]:
l1 = [1, 2, 3, 4]
l1

[1, 2, 3, 4]

In [36]:
l2 = ['a', 'b', 'c', 'd']
l2

['a', 'b', 'c', 'd']

#### Vogliamo scandire le due liste in parallelo:

In [37]:
for pair in zip(l1, l2):
    print(pair)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [38]:
list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

#### Possiamo anche effettuare degli "unzip":

In [77]:
l1

[1, 2, 3, 4]

In [78]:
l2

['a', 'b', 'c', 'd']

In [79]:
z = zip(l1, l2)

In [80]:
A, B = zip(*z)

In [81]:
A

(1, 2, 3, 4)

In [82]:
B

('a', 'b', 'c', 'd')

In [83]:
list(A)

[1, 2, 3, 4]

In [84]:
list(B)

['a', 'b', 'c', 'd']

#### Se i valori finali delle liste più lunghe sono importanti, possiamo utilizzare zip_longest

In [3]:
from itertools import zip_longest

In [4]:
l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']
l3 = [5, 6, 7, 8, 9, 10]

In [9]:
z = zip_longest(l1, l2, l3, fillvalue='?')

In [10]:
list(z)

[(1, 'a', 5),
 (2, 'b', 6),
 (3, 'c', 7),
 ('?', '?', 8),
 ('?', '?', 9),
 ('?', '?', 10)]

### Functional Programming

In [47]:
def f(x):
    return x ** 2

In [48]:
f(2)

4

In [49]:
def even(x):
    return x % 2 == 0

In [50]:
even(3)

False

In [51]:
even(4)

True

### map

In [52]:
list(map(even, range(10)))  # applica la funzione even su tutti gli elementi mediante map()

[True, False, True, False, True, False, True, False, True, False]

In [53]:
# anonymous functions

list(map(lambda x: x ** 2, range(10)))  # lambda function

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
list(map(lambda x: x%2 == 0, range(10)))

[True, False, True, False, True, False, True, False, True, False]

### filter

In [55]:
list(filter(even, range(15)))

[0, 2, 4, 6, 8, 10, 12, 14]

## Dizionari

In [95]:
d = {
    'Name' : 'Angela Merkel',
    'Country' : 'Germany',
    'Profession' : 'Chancelor',
    'Age' : 64
}

In [57]:
type(d)

dict

In [58]:
print(d['Name'], d['Age'])

Angela Merkel 64

### metodi per i dizionari

In [59]:
d.keys()

dict_keys(['Name', 'Country', 'Profession', 'Age'])

In [60]:
d.values()

dict_values(['Angela Merkel', 'Germany', 'Chancelor', 64])

In [96]:
d.items()

dict_items([('Name', 'Angela Merkel'), ('Country', 'Germany'), ('Profession', 'Chancelor'), ('Age', 64)])

In [97]:
type(d.items())

dict_items

In [98]:
list(d.items())

[('Name', 'Angela Merkel'),
 ('Country', 'Germany'),
 ('Profession', 'Chancelor'),
 ('Age', 64)]

In [63]:
for item in d.items():
    print(item)

('Name', 'Angela Merkel')
('Country', 'Germany')
('Profession', 'Chancelor')
('Age', 64)

In [64]:
for value in d.values():
    print(value)

Angela Merkel
Germany
Chancelor
64

In [65]:
for value in d.values():
    print(type(value))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>